<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <title>{{ title }}</title>
</head>
<body>
    <div class="nav-bar">
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Strona Główna</a></li>
                <li><a href="https://www.youtube.com/watch?v=lZaLZO61-gY">Filmik</a></li>
            </ul>
        </nav>
    </div>

{% block content %} {% endblock %}
</body>
</html>