{% extends 'base.html' %}
    {% block content %}
    <main>
        <div class="container">
            <h1>Strona główna</h1>
        </div>
        <div class="container">
            <h2>Jakiś tekst</h2>
        </div>
        <div class="container">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut amet nisi aperiam in vitae commodi libero facere odio rem maxime!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem eos expedita explicabo similique reprehenderit voluptatem, sequi deserunt? Fugiat iure voluptatibus officia! Velit possimus dicta, qui facilis repudiandae quo quasi eligendi voluptate nobis, cupiditate iusto officia ratione unde animi ab molestiae deserunt in ex. Ipsam deleniti nihil architecto, tempora quo magnam?</p>
            
        </div>
    </main>
    {% endblock %}